body{
	margin: 0px;
}
div.signinPanel{
	background: yellow;
	height: 20px;
	width: 100%;
	color: blue;
	border-width: 0px;
	margin: 0;
	text-align: right;
}

div.headPanel{
	background: orange;
	height: 100px;
	width: 100%;
	color: green;
	border-width: 0px;
	margin: 0;
	text-align: left;
}