body{
	margin: 0px;
}
div.signinPanel{
	background: yellow;
	height: 20px;
	width: 100%;
	color: blue;
	border-width: 0px;
	margin: 0;
	text-align: right;
}

div.headPanel{
	background: orange;
	height: 100px;
	width: 100%;
	color: green;
	border-width: 0px;
	margin: 0;
	text-align: left;
}

div.rightPanel{
	background: gray;
	width: 400px;
	color: black;
	border-width: 0px;
	margin: 0;
	text-align: left;
	right: inherit;
	float:right;
}

div.leftPanel{
	background: gray;
	width: 400px;
	color: green;
	border-width: 0px;
	margin: 0;
	text-align: left;
	left:inherit;
	float: left;
}
div.mainPanel{
	background: white;
	color: green;
	border-width: 0px;
	margin: 0;
	text-align: left;
	left:400;
}